/* dashboard.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333; 
    padding: 20px 20px; 
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-color: #b8b8b89c;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff; 
    padding: 40px 20px;  /* Sama seperti tentang_bebras.css untuk konsistensi */
    position: relative;
    bottom: 0;
    width: 100%;
}
